
<div>open|door is a website aimed at crowdsourcing wheelchair accessibility data for Wheelmaps by gamifying the user's experience. Users are encouraged to earn points by providing descriptions about locations.</div>

<button ng-click="getNearby()">get button</button>
<button ng-click="putRequest()">put button</button>

<div class="container">
	<h2>nearby listings:</h2>

	<table class="table">
		<tr>
	        <th>name</th>
	        <th>distance</th>
	        <th>status</th>
	    </tr>
	    <tr ng-repeat="result in results">
	        <td>{{result.name}}</td>
	        <td>{{result.distance | number:2}}</td>
	        <td>{{result.status}}</td>
	    </tr>
	</table>
</div>

